<?xml version="1.0" encoding="GBK"?>
<!-- if debug set to true, context info always print
 otherwise the contex info will print when error occour -->
<configuration scan="true" scanPeriod="60 seconds" debug="false"> 
<!--    <statusListener class="com.jgps.Listener.LogbackListener" />  -->
 <property file="${user.dir}/resources/server.properties" />
    <Property name="Log.path" value="${user.dir}/logs/logback"/>
    <contextName>Game_Default</contextName>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">   
       <Encoding>UTF-8</Encoding>   
        <layout class="ch.qos.logback.classic.PatternLayout">   
            <pattern>%d{HH:mm:ss-SSS} | [%thread] | %-5level | %logger{40} | %msg%n</pattern>  
        </layout>   
    </appender>

  <!--所有日志文件-->
    <appender name="AllLog" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${Log.path}/all-%d{yyyy-MM-dd}.log</fileNamePattern> 
            <maxHistory>30</maxHistory> 
        </rollingPolicy> 
        <encoder> 
            <pattern>%d{HH:mm:ss-SSS} | [%thread] | %-5level | %logger{40} | %msg%n</pattern> 
        </encoder> 
    </appender>
    
    <!--所有错误日志文件-->
    <appender name="AllErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${Log.path}/error_all-%d{yyyy-MM-dd}.log</fileNamePattern> 
            <maxHistory>30</maxHistory> 
        </rollingPolicy> 
        <encoder> 
            <pattern>%d{HH:mm:ss-SSS} | [%thread] | %-5level | %logger{40} | %msg%n</pattern> 
        </encoder> 
    </appender>
    
    
<!--    <include resource="mongolog.xml"/>-->
    <root > 
    <!--      <appender-ref ref="AllErrorLog" level="ERROR"/>-->
        <appender-ref ref="AllLog" level="INFO"/>
        <appender-ref ref="STDOUT" level="INFO"/>
    </root> 
    
</configuration>
