<?xml version="1.0" encoding="GBK"?>
<!-- if debug set to true, context info always print
 otherwise the contex info will print when error occour -->
<configuration scan="true" scanPeriod="60 seconds" debug="false"> 
<!--    <statusListener class="com.jgps.Listener.LogbackListener" />  -->
    <Property name="Log.path" value="/myapp/logs/game"/>
    <contextName>Game_Default</contextName>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">   
       <Encoding>UTF-8</Encoding>   
        <layout class="ch.qos.logback.classic.PatternLayout">   
            <pattern>%d{HH:mm:ss-SSS} | [%thread] | %-5level | %logger{40} | %msg%n</pattern>  
        </layout>   
    </appender>

    <appender name="playA" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${Log.path}/play-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss-SSS}|%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="playADetail" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${Log.path}/playADetail-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss-SSS}|%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="calculatorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${Log.path}/calculator-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss-SSS}|%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="cardLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${Log.path}/card-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss-SSS}|%msg%n</pattern>
        </encoder>
    </appender>


  <!--所有日志文件-->
    <appender name="AllLog" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${Log.path}/all-%d{yyyy-MM-dd}.log</fileNamePattern> 
            <maxHistory>30</maxHistory> 
        </rollingPolicy> 
        <encoder> 
            <pattern>%d{HH:mm:ss-SSS} | [%thread] | %-5level | %logger{40} | %msg%n</pattern> 
        </encoder> 
    </appender>
    
    <!--所有错误日志文件-->
    <appender name="AllErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${Log.path}/error_all-%d{yyyy-MM-dd}.log</fileNamePattern> 
            <maxHistory>30</maxHistory> 
        </rollingPolicy> 
        <encoder> 
            <pattern>%d{HH:mm:ss-SSS} | [%thread] | %-5level | %logger{40} | %msg%n</pattern> 
        </encoder> 
    </appender>

    <logger name="play" additivity="false" level="info">
        <appender-ref ref="playA" />
    </logger>

    <logger name="playd" additivity="false" level="info">
        <appender-ref ref="playADetail" />
    </logger>

    <logger name="calculator" additivity="false" level="info">
        <appender-ref ref="calculatorLog" />
    </logger>

    <logger name="card" additivity="false" level="info">
        <appender-ref ref="cardLog" />
    </logger>


    <logger name="com.zaxxer.hikari.pool.HikariPool" additivity="false" level="info">
    </logger>
<!--    <include resource="mongolog.xml"/>-->
    <root > 
    <!--      <appender-ref ref="AllErrorLog" level="ERROR"/>-->
        <appender-ref ref="AllLog" level="INFO"/>
        <appender-ref ref="STDOUT" level="INFO"/>
    </root>
    
</configuration>
